@css {
/*
Utility functions, mixins and classes
-------------------------------------
utils.styl
*/
}

vendor(a, b)
  -webkit-{a}               b
  -moz-{a}                  b
  {a}                       b

/* z-index scale */
for i in (-1..10)
  .u-zIndex{i}
    z-index                 i * 10

.u-floatLeft
  float                     left

.u-floatRight
  float                     left

.u-floatNone
  float                     none