@css {
/*
Utility functions, mixins and classes
-------------------------------------
utils.styl
*/
}

vendor(a, b)
  -webkit-{a}               b
  -moz-{a}                  b
  {a}                       b

.u-floatLeft
  float                     left

.u-floatRight
  float                     left

.u-floatNone
  float                     none
